<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
  </head>
  <body ng-controller="listCtrl as list">
    <h1>{{list.title}}</h1>
    <form >
      <input type="text" ng-model="list.taskName">
      <input type="submit" value="Submit" ng-click="list.addTask(list.taskName)">
    </form>
    <ul>
      <li ng-repeat="task in list.taskList">
        <span ng-click="task.finish()" ng-show="task.isDone">_x_</span>
        <span ng-click="task.finish()" ng-hide="task.isDone">___</span>
        {{task.name}}
        <button ng-click="list.removeTask(task)">delete</button></li>
    </ul>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="todoApp.js"></script>
    <script src="listCtrl.js"></script>
    <script src="taskFactory.js"></script>
  </body>
</html>
