<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
  </head>
  <body ng-controller="listCtrl as list">
    <h1>{{list.message}}</h1>
    <form>
      <input type="text" ng-model="list.taskName">
      <input type="submit" value="Submit" ng-click="list.addTask(list.taskName)">
    </form>
    <ul>
      <li ng-repeat="task in list.list">
        <form>
          <span ng-hide="task.isDone" ng-click="task.complete()">___</span>
          <span ng-show="task.isDone">_x_</span>
          <span ng-hide="task.editMode">
            {{task.name}} <button type="button" ng-click="task.edit()">Edit</button>
          </span>
          <span ng-show="task.editMode">
            <input type="text" ng-model="task.name">
            <input type="submit" ng-click="task.edit()">
          </span>

          <button type="button" ng-click="list.removeTask(task)">Remove</button>
        </form>
      </li>
    </ul>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <script src="main.js"></script>
    <script src="listController.js"></script>
    <script src="taskFactory.js"></script>
  </body>
</html>
